body {
 	background:url(/images/background.webp);
 	background-repeat: no-repeat;
    background-attachment: fixed; //是否滚动，fixed固定
    background-size: cover;      //填充
    background-position: center;
}
.content-wrap {
  opacity: 0.8;
}
.sidebar {
  opacity: 0.8;
  border-radius: $border-radius;
}

//侧边框的透明度设置
.sidebar-inner {
  opacity: 0;
  border-radius: $border-radius;
}

//菜单栏的透明度设置
.header-inner {
  opacity: 0.8;
}